body {
    background-color: #555C68;
    font-family: Poppins, sans-serif !important;
}

.logo img{
    width: 100px;
}

div.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
