div.ui.modal.basket {
    min-height: 70%;
    width: 480px;
    position: relative;
}

div.ui.modal.basket div.header{
    display: flex;
    align-items: center;
}

div.ui.modal.basket h2{
    margin-top: 0 !important;
    margin-left: 20px;
}

div.ui.modal.basket div.content{
   height: revert !important;
    padding-bottom: 110px !important;
}

div.ui.modal.basket img{
    width: 40px;
}

div.ui.modal.basket div.actions{
    position: absolute;
    bottom: 0;
    width: 100%;
}

div.ui.modal.basket div.table {
    width: 100%;
    padding: 10px;
}

div.ui.modal.basket div.total {
    position: absolute;
    width: 100%;
    bottom: 60px;
    padding: 20px;
    display: flex;
    left: 0;
    justify-content: space-between;
    background-color: #ffffff;
}