{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h2>Choisir une méthode de connection</h2>
        <a href="{{ path('app_security_google_connect') }}">Google</a>
    </div>
{% endblock %}