{%  extends 'base.html.twig' %}

{% block body %}
    <div class="filter">
        <a href="{{ path('app_gif_addgif') }}" class="ui button">Vendre un gif</a>
    </div>
    {% include 'gif/list.html.twig' with { 'gifs' : gifs } %}
{% endblock %}

