{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="filter">
        </div>
        {% include 'gif/list.html.twig' with { 'gifs' : gifs } %}
    </div>

{% endblock %}

