{%  extends 'base.html.twig' %}

{% block controllers %}
    {{ stimulus_controller("basket dropdown gif") }}
{% endblock %}
{% block body %}
    <div class="container" >
        <div class="filter">
        </div>
        {% include 'gif/list.html.twig' with { 'gifs' : gifs } %}
    </div>

    {% include 'basket/_modal.html.twig' %}

{% endblock %}

